<a href="https://colab.research.google.com/github/edelmanarik/DataVisualFri/blob/DataSets/LessonNumber1_Academic_17122020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# https://numpy.org/
# https://pandas.pydata.org/
import pandas as pd 
import numpy as np

In [2]:
url='https://raw.githubusercontent.com/edelmanarik/DataVisualFri/main/911.csv'
df = pd.read_csv(url)

In [3]:
df.head(3)

         lat        lng  ...                        addr  e
0  40.297876 -75.581294  ...      REINDEER CT & DEAD END  1
1  40.258061 -75.264680  ...  BRIAR PATH & WHITEMARSH LN  1
2  40.121182 -75.351975  ...                    HAWS AVE  1

[3 rows x 9 columns]